                                    nav {
                                        background-color: rgb(240, 255, 255);
                                        text-align: right;
                                    }
                                    
                                    body {
                                        background-color: #cccc;
                                        color: effff;
                                        margin: 20;
                                        padding: 5;
                                    }
                                    
                                    #container {
                                        color: rgb(255, 255, 255);
                                    }
                                    
                                    #center {
                                        display: block;
                                        height: auto;
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 50%;
                                    }
                                    
                                    .center {
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 100;
                                    }
                                    
                                    ul {
                                        list-style-position: inside;
                                    }
                                    /*                                     
                                    #kayo {
                                        text-align: center;
                                    } */
                                    
                                    .yang {
                                        color: mediumseagreen
                                    }
                                    
                                    .font {
                                        color: blueviolet;
                                        text-align: center;
                                    }
                                    
                                    .log {
                                        display: flex;
                                        height: px;
                                        width: 45%;
                                        border: 1px solid #444;
                                        padding: 0px;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        justify-content: space-evenly;
                                        align-items: center;
                                        align-content: center;
                                    }
                                    
                                    #menu {
                                        display: list-item;
                                    }
                                    
                                    h2 {
                                        text-align: center;
                                    }
                                    
                                    #projects {
                                        background-color: #cccc
                                    }
                                    
                                    #projects,
                                    h1 {
                                        text-align: center;
                                        color: rgb(255, 255, 255);
                                        text-decoration: underline;
                                    }
                                    
                                    .projects {
                                        display: flex;
                                        height: px;
                                        border: 1px solid #444;
                                        padding: 10px;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        justify-content: space-evenly;
                                        align-items: stretch;
                                        align-content: stretch;
                                    }
                                    
                                    .flex {
                                        width: 300px;
                                        background-color: black;
                                        margin: 10px;
                                        color: rgb(255, 255, 255);
                                        font-size: 150%;
                                        text-align: center;
                                    }
                                    
                                    .project1 {
                                        order: 1;
                                    }
                                    
                                    .project2 {
                                        order: 2;
                                    }
                                    
                                    .project3 {
                                        order: 3;
                                    }
                                    
                                    .project4 {
                                        order: 4;
                                    }
                                    
                                    .project5 {
                                        order: 5;
                                    }
                                    
                                    .projectt6 {
                                        order: 6;
                                    }
                                    
                                    button {
                                        background-color: rgb(7, 7, 26);
                                        color: rgb(255, 255, 255);
                                        width: 300px;
                                    }
                                    
                                    .btn {
                                        text-align: center;
                                        padding-top: 50px;
                                    }
                                    
                                    #contact {
                                        background-color: rgb(2, 5, 14);
                                        color: rgb(245, 239, 239);
                                        text-align: center;
                                        width: 100%;
                                    }
                                    
                                    footer,
                                    #contact {
                                        color: rgb(240, 255, 255);
                                        padding: 2px 8px;
                                        float: right;
                                        text-align: center;
                                        font-size: 16px;
                                        background-color: rgb(2, 5, 14);
                                        width: 100%;
                                    }
                                    
                                    * {
                                        box-sizing: border-box
                                    }
                                    /* Full-width input fields */
                                    
                                    input[type=text],
                                    input[type=password] {
                                        width: 100%;
                                        padding: 15px;
                                        margin: 5px 0 22px 0;
                                        display: inline-block;
                                        border: none;
                                        background: #f1f1f1;
                                    }
                                    /* Add a background color when the inputs get focus */
                                    
                                    input[type=text]:focus,
                                    input[type=password]:focus {
                                        background-color: #ddd;
                                        outline: none;
                                    }
                                    /* Set a style for all buttons */
                                    
                                    button {
                                        background-color: rgb(7, 7, 26);
                                        color: white;
                                        padding: 14px 20px;
                                        margin: 8px 0;
                                        border: none;
                                        cursor: pointer;
                                        opacity: 0.9;
                                    }
                                    
                                    button:hover {
                                        opacity: 1;
                                    }
                                    /* Extra styles for the cancel button */
                                    
                                    .cancelbtn {
                                        padding: 14px 20px;
                                        background-color: #f44336;
                                    }
                                    /* Float cancel and signup buttons and add an equal width */
                                    
                                    .cancelbtn,
                                    .signupbtn {
                                        float: left;
                                        width: 50%;
                                    }
                                    /* Add padding to container elements */
                                    
                                    .container {
                                        padding: 16px;
                                    }
                                    /* The Modal (background) */
                                    
                                    .modal {
                                        display: none;
                                        /* Hidden by default */
                                        position: fixed;
                                        /* Stay in place */
                                        z-index: 1;
                                        /* Sit on top */
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        /* Full width */
                                        height: 100%;
                                        /* Full height */
                                        overflow: auto;
                                        /* Enable scroll if needed */
                                        background-color: #474e5d;
                                        padding-top: 50px;
                                    }
                                    /* Modal Content/Box */
                                    
                                    .modal-content {
                                        background-color: #fefefe;
                                        margin: 5% auto 15% auto;
                                        /* 5% from the top, 15% from the bottom and centered */
                                        border: 1px solid #888;
                                        width: 80%;
                                        /* Could be more or less, depending on screen size */
                                    }
                                    /* Style the horizontal ruler */
                                    
                                    hr {
                                        border: 1px solid #f1f1f1;
                                        margin-bottom: 25px;
                                    }
                                    /* The Close Button (x) */
                                    
                                    .close {
                                        position: absolute;
                                        right: 35px;
                                        top: 15px;
                                        font-size: 40px;
                                        font-weight: bold;
                                        color: #f1f1f1;
                                    }
                                    
                                    .close:hover,
                                    .close:focus {
                                        color: #f44336;
                                        cursor: pointer;
                                    }
                                    /* Clear floats */
                                    
                                    .clearfix::after {
                                        content: "";
                                        clear: both;
                                        display: table;
                                    }
                                    /* Change styles for cancel button and signup button on extra small screens */
                                    
                                    @media screen and (max-width: 300px) {
                                        .cancelbtn,
                                        .signupbtn {
                                            width: 100%;
                                        }
                                    }